/* HEADER */
header {
    background-color: #2c3e50;
    padding: 25px 0;
    color: white;
}

.menu-container {
    text-align: right;
}

.menu li {
    display: inline-block;
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.brand-name,
.burger {
    font-size: 25px;
    font-weight: bold;
}

/* COMMON */
header ul,
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.green-back {
    background-color: #1abc9c;
    color: white;
}

/* MAIN */
section {
    padding: 30px;
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
}

/* Jumbotron */
.jumbotron {
    text-align: center;
}

.jumbo-img {
    height: 150px;
    width: 150px;
    background-color: blue;
    margin: auto;
}

/* Section Portfolio */
.single-img {
    height: 200px;
    width: auto;
    background-color: blue;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Section About */
.about-container {
    width: 70%;
    margin: auto;
    max-width: 1000px;
}

.about-par {
    margin-bottom: 20px;
}

.download-btn {
    text-align: center;
}

.download-btn a {
    color: white;
    border: 1px solid white;
    text-decoration: none
}

/* Section Contact Me */
.contact-container {
    width: 65%;
    margin: auto;
    max-width: 1000px;
}

/* FOOTER */
footer {
    color: white;
}

.footer-top {
    background-color: #3a546d;
    padding: 30px;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-bottom  {
    background-color: #2c3e50;
    text-align: center;
    padding: 30px;
}