/* HEADER */
header {
    background-color: #2c3e50;
    padding: 25px 0;
    color: white;
}

.menu-container {
    text-align: right;
}

.menu li {
    display: inline-block;
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.brand-name,
.burger {
    font-size: 20px;
    font-weight: bold;
}

@media (min-width: 768px) {

    .brand-name {
        font-size: 25px;
    }
}

/* COMMON */
header ul,
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.green-back {
    background-color: #1abc9c;
    color: white;
}

/* MAIN */
section {
    padding: 50px;
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
}

.star-container {
    display: flex;
    justify-content: center;
}

.star-white,
.star-black {
    font-size: 25px;
}

.star-white::before,
.star-white::after {
    display: inline-block;
	content: '';
	width: 80px;
	height: 3px;
	background-color: white;
    vertical-align: middle;
    margin: 0 10px;
}

.star-black::before,
.star-black::after {
    display: inline-block;
	content: '';
	width: 80px;
	height: 3px;
	background-color: black;
    vertical-align: middle;
    margin: 0 10px;
}

/* Jumbotron */
.jumbotron {
    text-align: center;
}

.jumbo-img img {
    height: 250px;
    max-width: 100%;
    margin-bottom: 20px;
}

.jumbotron h1 {
    font-size: 40px;
}

.jumbo-description {
    font-size: 18px;
    margin-top: 15px;
}

@media (min-width: 768px) { 

    .jumbotron h1 {
        font-size: 60px;
    }

    .jumbo-description {
        font-size: 25px;
    }

    .star-black::before,
    .star-black::after,
    .star-white::before,
    .star-white::after { 
        width: 150px;
        margin: 0 25px;
    }
}

/* Section Portfolio */
.single-img {
    height: 200px;
    width: auto;
    background-color: blue;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Section About */
.about-container {
    width: 70%;
    margin: auto;
    max-width: 1000px;
}

.about-par {
    margin-bottom: 20px;
}

.download-btn {
    text-align: center;
}

.download-btn a {
    color: white;
    border: 1px solid white;
    text-decoration: none
}

/* Section Contact Me */
.contact-container {
    width: 65%;
    margin: auto;
    max-width: 1000px;
}

/* FOOTER */
footer {
    color: white;
}

.footer-top {
    background-color: #3a546d;
    padding: 30px;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-bottom  {
    background-color: #2c3e50;
    text-align: center;
    padding: 30px;
}